@font-face {
  font-family: 'juntaandalucia';
  src: url('../fonts/juntaandalucia.eot?61968121');
  src: url('../fonts/juntaandalucia.eot?61968121#iefix') format('embedded-opentype'),
       url('../fonts/juntaandalucia.woff2?61968121') format('woff2'),
       url('../fonts/juntaandalucia.woff?61968121') format('woff'),
       url('../fonts/juntaandalucia.ttf?61968121') format('truetype'),
       url('../fonts/juntaandalucia.svg?61968121#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-junta:before { content: '\e800'; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "juntaandalucia";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* BACKGROUND COLORS */

.bg-black { background-color: #000000 !important; }
.bg-white { background-color: #FFFFFF !important; }
.bg-red { background-color: #F44336 !important; }
.bg-red-light { background-color: #FFCDD2 !important; }
.bg-red-dark { background-color: #B71C1C !important; }
.bg-pink { background-color: #E91E63 !important; }
.bg-pink-light { background-color: #F8BBD0 !important; }
.bg-pink-dark { background-color: #880E4F !important; }
.bg-purple { background-color: #9C27B0 !important; }
.bg-purple-light { background-color: #E1BEE7 !important; }
.bg-purple-dark { background-color: #4A148C !important; }
.bg-deeppurple { background-color: #673AB7 !important; }
.bg-deeppurple-light { background-color: #D1C4E9 !important; }
.bg-deeppurple-dark { background-color: #311B92 !important; }
.bg-indigo { background-color: #3F51B5 !important; }
.bg-indigo-light { background-color: #D1C4E9 !important; }
.bg-indigo-dark { background-color: #311B92 !important; }
.bg-blue { background-color: #2196F3 !important; }
.bg-blue-light { background-color: #BBDEFB !important; }
.bg-blue-dark { background-color: #0D47A1 !important; }
.bg-lightblue { background-color: #03A9F4 !important; }
.bg-lightblue-light { background-color: #B3E5FC !important; }
.bg-lightblue-dark { background-color: #01579B !important; }
.bg-cyan { background-color: #00BCD4 !important; }
.bg-cyan-light { background-color: #B3E5FC !important; }
.bg-cyan-dark { background-color: #01579B !important; }
.bg-teal { background-color: #009688 !important; }
.bg-teal-light { background-color: #B2DFDB !important; }
.bg-teal-dark { background-color: #004D40 !important; }
.bg-green { background-color: #4CAF50 !important; }
.bg-green-light { background-color: #C8E6C9 !important; }
.bg-green-dark { background-color: #1B5E20 !important; }
.bg-lightgreen { background-color: #8BC34A !important; }
.bg-lightgreen-light { background-color: #C8E6C9 !important; }
.bg-lightgreen-dark { background-color: #33691E !important; }
.bg-lime { background-color: #CDDC39 !important; }
.bg-lime-light { background-color: #F0F4C3 !important; }
.bg-lime-dark { background-color: #827717 !important; }
.bg-yellow { background-color: #FFEB3B !important; }
.bg-yellow-light { background-color: #FFF9C4 !important; }
.bg-yellow-dark { background-color: #F57F17 !important; }
.bg-amber { background-color: #FFC107 !important; }
.bg-amber-light { background-color: #FFECB3 !important; }
.bg-amber-dark { background-color: #FF6F00 !important; }
.bg-orange { background-color: #FF9800 !important; }
.bg-orange-light { background-color: #FFE0B2 !important; }
.bg-orange-dark { background-color: #E65100 !important; }
.bg-deeporange { background-color: #FF5722 !important; }
.bg-deeporange-light { background-color: #FFCCBC !important; }
.bg-deeporange-dark { background-color: #BF360C !important; }
.bg-brown { background-color: #795548 !important; }
.bg-brown-light { background-color: #795548 !important; }
.bg-brown-dark { background-color: #D7CCC8 !important; }
.bg-grey { background-color: #3E2723 !important; }
.bg-grey-light { background-color: #F5F5F5 !important; }
.bg-grey-dark { background-color: #212121 !important; }
.bg-bluegrey { background-color: #607D8B !important; }
.bg-bluegrey-light { background-color: #CFD8DC !important; }
.bg-bluegrey-dark { background-color: #263238 !important; }


/* COLORS */

.black { color: #000000 !important; }
.white { color: #FFFFFF !important; }
.red { color: #F44336 !important; }
.red-light { color: #FFCDD2 !important; }
.red-dark { color: #B71C1C !important; }
.pink { color: #E91E63 !important; }
.pink-light { color: #F8BBD0 !important; }
.pink-dark { color: #880E4F !important; }
.purple { color: #9C27B0 !important; }
.purple-light { color: #E1BEE7 !important; }
.purple-dark { color: #4A148C !important; }
.deeppurple { color: #673AB7 !important; }
.deeppurple-light { color: #D1C4E9 !important; }
.deeppurple-dark { color: #311B92 !important; }
.indigo { color: #3F51B5 !important; }
.indigo-light { color: #D1C4E9 !important; }
.indigo-dark { color: #311B92 !important; }
.blue { color: #2196F3 !important; }
.blue-light { color: #BBDEFB !important; }
.blue-dark { color: #0D47A1 !important; }
.lightblue { color: #03A9F4 !important; }
.lightblue-light { color: #B3E5FC !important; }
.lightblue-dark { color: #01579B !important; }
.cyan { color: #00BCD4 !important; }
.cyan-light { color: #B3E5FC !important; }
.cyan-dark { color: #01579B !important; }
.teal { color: #009688 !important; }
.teal-light { color: #B2DFDB !important; }
.teal-dark { color: #004D40 !important; }
.green { color: #4CAF50 !important; }
.green-light { color: #C8E6C9 !important; }
.green-dark { color: #1B5E20 !important; }
.lightgreen { color: #8BC34A !important; }
.lightgreen-light { color: #C8E6C9 !important; }
.lightgreen-dark { color: #33691E !important; }
.lime { color: #CDDC39 !important; }
.lime-light { color: #F0F4C3 !important; }
.lime-dark { color: #827717 !important; }
.yellow { color: #FFEB3B !important; }
.yellow-light { color: #FFF9C4 !important; }
.yellow-dark { color: #F57F17 !important; }
.amber { color: #FFC107 !important; }
.amber-light { color: #FFECB3 !important; }
.amber-dark { color: #FF6F00 !important; }
.orange { color: #FF9800 !important; }
.orange-light { color: #FFE0B2 !important; }
.orange-dark { color: #E65100 !important; }
.deeporange { color: #FF5722 !important; }
.deeporange-light { color: #FFCCBC !important; }
.deeporange-dark { color: #BF360C !important; }
.brown { color: #795548 !important; }
.brown-light { color: #795548 !important; }
.brown-dark { color: #D7CCC8 !important; }
.grey { color: #3E2723 !important; }
.grey-light { color: #F5F5F5 !important; }
.grey-dark { color: #212121 !important; }
.bluegrey { color: #607D8B !important; }
.bluegrey-light { color: #CFD8DC !important; }
.bluegrey-dark { color: #263238 !important; }

/* PADDING, MARGIN & ALIGNMENT */

.pad5 { padding-top:5px; }
.pad10 { padding-top:10px; }
.pad15 { padding-top:15px; }
.pad25 { padding-top:25px; }
.pad30 { padding-top:30px; }
.pad45 { padding-top:45px; }
.pad60 { padding-top:60px; }
.pad90 { padding-top:90px; }

.min-height-100px { min-height: 100px; }
.min-height-200px { min-height: 200px; }
.min-height-300px { min-height: 300px; }
.min-height-400px { min-height: 400px; }
.min-height-500px { min-height: 500px; }
.min-height-600px { min-height: 600px; }
.min-height-700px { min-height: 700px; }
.min-height-800px { min-height: 800px; }

.marg-bottom15 { margin-bottom: 15px; }
.marg-bottom5 { margin-bottom: 5px; }
.marg-left5 { margin-left: 5px; }
.marg-right5 { margin-right: 5px; }
.but_marg { margin-left: 3px; }

body {
	padding-top: 70px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* MENU DISP. MOVILES */
.padmobile {
	padding: 0;
	margin-bottom: 15px;
}

.padmobile:first-child {
	padding-left: 15px;
}

.padmobile:nth-child(4) {
	padding-right: 15px;
}

.padmobile:nth-child(5) {
	padding-left: 15px;
}

.padmobile:last-child {
	padding-right: 15px;
}

/* COLUMNAS */

@media (min-width: 750px) {
	.col-sm-20 {
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		width: 20%;
	}
}

/* SUMMERNOTE */

.note-editable {
	background-color: #fff;
}

/* TABLE */

.table thead th {
	background-color: #95a5a6;
	color: #ffffff;
	text-transform: uppercase;
}

.table thead th a {
	color: #ffffff;
}

.table.table-inverse thead th {
	background-color: #24292e;
	color: #ffffff;
	text-transform: uppercase;
}

.table.table-inverse thead th a {
	color: #ffffff;
}

.table-vcentered th, .table-vcentered td {
	vertical-align: middle !important;
}

.table-centered th, .table-centered td {
	text-align: center;
}

.Rotate-90
{
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  transform: rotate(-80deg);

  font-size: 10px;
  width:40px;
  position:relative;
  top:75px;
}
.Rotate-corto
{
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  transform: rotate(-80deg);
  font-size: 10px;
  width:40px;
  position:relative;
  top:60px;
}

li.nav-header {
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: bold;
}

.dropdown-menu>li>a {
	padding: 8px 20px !important;
}

.dropdown-menu .divider {
	margin: 2px 0;
}

.dropdown-messages {
	min-width: 380px;
}

.dropdown-messages.dropdown-menu>li>a {
	white-space: normal !important;
}

.dropdown-feed {
	min-width: 610px;
}

ul.dropdown-feed>li>a {
	white-space: normal;
}


/* CALENDARIOS */
.calendar-today, .table-striped>tbody>tr:nth-child(odd)>td.calendar-today {
	background-color: #2b3d4f;
	color: #fffffe;
}

.calendar-orange, .table-striped>tbody>tr:nth-child(odd)>td.calendar-orange {
	background-color: #f29b12;
	color: #fffffe;
}

.calendar-blue, .table-striped>tbody>tr:nth-child(odd)>td.calendar-blue {
	background-color: #3397db;
	color: #fffffe;
}

.calendar-red, .table-striped>tbody>tr:nth-child(odd)>td.calendar-red {
	background-color: #e14939;
	color: #fffffe;
}

.calendar-today a, .calendar-orange a, .calendar-blue a, .calendar-red a {
	color: #fff;
}


/* FECHORIAS */

.expulsion-centro, .table-striped>tbody>tr:nth-child(odd)>td.expulsion-centro {
	background-color: #FF4444;
}

.expulsion-aula, .table-striped>tbody>tr:nth-child(odd)>td.expulsion-aula {
	background-color: #FFBB33;
}

.amonestacion-escrita, .table-striped>tbody>tr:nth-child(odd)>td.amonestacion-escrita {
	background-color: #33B5E5;
}

.aula-convivencia-jefatura, .table-striped>tbody>tr:nth-child(odd)>td.aula-convivencia-jefatura {
	background-color: #AA66CC;
}

.aula-convivencia-profesor, .table-striped>tbody>tr:nth-child(odd)>td.aula-convivencia-profesor {
	background-color: #99CC00;
}


/* DESCRIPTIONS */

dt, dd {
	padding: 2px 0;
}

/* POPOVER TOUR */
.tour-backdrop {
	background-color: #fff !important;
	opacity: .6 !important;
}

.popover.tour-tour {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

div#step-0.popover.tour.orphan.tour-tour.tour-tour-0.fade.top.in {
	top: 160px !important;
}

div.tour > h3.popover-title,
div.tour > div.popover-content,
div.tour > div.popover-navigation {
	padding: 15px 25px !important;
}

div.tour > div.popover-content {
	font-size: 16px !important;
}

/* TOTP */
#totp > input[type=number]::-webkit-inner-spin-button,
#totp > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#totp > input[type=number] { -moz-appearance:textfield; }

/* LOGIN FORM */
html, body {
	width: 100%;
	height: 100%;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 30px auto;
}

@media (max-width: 768px) {
	#login {
	  padding-top: 0;
	}

	#login h1 {
		font-size: 30px;
	}
}

.form-signin .form-signin-heading {
  margin-top: 13px;
  margin-bottom: 13px;
}
.form-signin .form-signin-footer {
  margin-top: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

@media (max-width: 321px) {

	footer .pull-left {
		float: none !important;
		display: block !important;
		text-align: center;
	}

	footer .pull-right {
		float: none !important;
		display: block !important;
		text-align: center;
	}

}

/* small screen lanscape */

@media (max-width: 480px) {

	footer .pull-left {
		float: none !important;
		display: block !important;
		text-align: center;
	}

	footer .pull-right {
		float: none !important;
		display: block !important;
		text-align: center;
	}

}

footer {
  color: #b4bcc2;
}

@media print {
  a[href]::after {
    content: none !important;
  }
}
