.DS_Store
.settings
.project
*.xml
xml/fotos/*.jpg
xml/fotos/*.jpeg
xml/fotos_profes/*.jpg
xml/fotos_profes/*.jpeg
xml/jefe/TIC/*.txt
cache/*
/config.php
/config_datos.php
*_seg*
*.gz
pdf/lib/fonts/log.htm
.buildpath
xml/primaria/*.txt
*.txt
php.ini

admin/jefatura/index_prof.php
admin/jefatura/insertar_prof.php
pruebas/*

prueba.php

admin/departamento/actas/config.php
admin/evaluaciones/config.php

admin/guardias/config.php

admin/fechorias/config.php

admin/matriculas/config.php

*.sublime-project

*.sublime-workspace

*.csv

calendario/config.php
pruebas.php
mensajeria/*
